.NavigationItem {
  margin: 10px 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
}

.Icon {
  width: 30px;
  color: #38ada9;
}

.NavigationItem a {
  margin-left: 10px;
  color: #2C2E37;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
  display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
  color: #38ada9;
}
